# python
*.pyc
*__pycache__
.pytest_cache
venv
# environment
.env
.env.*
!.env.testing
# npm
node_modules

.vscode
**/*.DS_Store

# Vim
.*.swp

# SQLite
*.sqlite*

# CTAGS
/tags

# Javascript
.parcel-cache/
static/dist/

# GAAS BMS
# Compiled assets
doc/graphs/*.svg
